name: "docs"
on:
  pull_request:
    branches: [ master ]
    paths-ignore:
      - '.pre-commit-config.yaml'

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python 3.x
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'
    - name: Install sndfile library # for librose, see https://github.com/deepcharles/ruptures/pull/121
      run: |
        sudo apt-get install libsndfile1-dev
    - name: Install ruptures and dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install .[docs]
    - name: Run notebooks
      run: |
        find ./docs -name '*.ipynb' | xargs -P 3 -I % jupyter nbconvert --inplace --to notebook --ExecutePreprocessor.kernel_name=python --execute %
    - name: Build documentation
      run: |
        mkdocs build
    - uses: actions/upload-artifact@v4
      with:
        name: DocumentationHTML
        path: site/
